.dashboard{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f8fafc;

    padding:40px;

}

.dashboard-card{

    width:550px;

    background:white;

    border-radius:20px;

    padding:40px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.dashboard h1{

    color:#2563eb;

}

.dashboard h2{

    margin:20px 0;

}

.dashboard p{

    color:#64748b;

    margin-bottom:30px;

}

.dashboard-buttons{

    display:flex;

    gap:15px;

    justify-content:center;

    flex-wrap:wrap;

}

.dashboard button{

    padding:14px 24px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#2563eb;

    color:white;

    font-size:16px;

}

.logout-btn{

    background:#ef4444 !important;

}

.dashboard button:hover{

    opacity:.9;

}