.applications-page{

    max-width:1100px;

    margin:auto;

    padding:40px 20px;

}

.applications-page h1{

    text-align:center;

    margin-bottom:40px;

    color:#2563eb;

}

.application-card{

    background:white;

    border-radius:16px;

    padding:25px;

    margin-bottom:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.application-card h2{

    margin-bottom:8px;

}

.application-card h4{

    color:#2563eb;

    margin-bottom:15px;

}

.application-card p{

    margin:8px 0;

}

.application-card button{

    margin-top:20px;

    padding:12px 22px;

    background:#ef4444;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

.application-card button:hover{

    background:#dc2626;

}

.empty{

    text-align:center;

    color:gray;

    font-size:20px;

}